body{
  background: url(../img/fondo.jpg);
  -web-background-size:cover;
  width: 100%;
}
.fon1{
  width: 90%;
}
.menu{
  background-color:#2E2E2E;
}
.menus{
  color: #F2F2F2;
  font-weight: bolder;
  font-size: 25px;
  border:5px double #0489B1;
}
.info{
  background-color: #0489B1;
  color:#2E2E2E;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 5px double #F2F2F2;
  padding-left: 10%;
  padding-right: 10%;
}
.titulo{
  font-size: 40px;
  font-weight: bolder;
}
.textoo{
  font-size: 10px;
  padding-left: 15%;
  padding-right: 15%;
  color: #2E2E2E ;
}
.i{
  padding-left: 10%;
}
.ff{
  background-color: #2E2E2E;
}
.fon2{
  -webkit-background-size:cover;
  width: 100%;
  background-color:#2E2E2E;
  padding-top: 5%;
  padding-bottom: 5%;
  border: #0489B1 10px double
}
.titulo1{
  background-color: #2E2E2E;
  color:#F2F2F2;
  font-weight: bolder;
  font-size: 30px;
  border: #F2F2F2 2px solid;
}
.texto{
  background-color: #F2F2F2;
  border:#F2F2F2 2px solid;
  color:#2E2E2E;
  font-size: 15px;
}
.info{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 8%;
}
